.colorChoices {
	background-color: rgb(15, 15, 56);
	border-radius: 15px;
	border: solid blue 5px;
	padding: 25px;
	width: 200px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.colorChoiceBox {
	height: 20px;
	width: 20px;
	margin: 4px;
}

.colorChoiceBox:hover {
	border: solid white 1.5px;
}

.colorChoicesBox:focus {
	border: solid skyblue 2.5px;
}